<!-- ======= Portfolio Section ======= -->
<section id="buyer-supplier" class="buyer-supplier">
    <div class="container">

        <div class="section-title">
            <h2>Buyer/Supplier Base</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="mr-1"><a href="#Buyer" aria-controls="Buyer" class="active"
                            role="tab" data-toggle="tab">Buyer
                            Base</a></li>
                    <li role="presentation"><a href="#Supplier" aria-controls="Supplier" role="tab"
                            data-toggle="tab">Supplier Base</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Buyer">
                        <div class="buyer-img">
                            <img src="../assets/img/home-picture/Buyer.jpg" alt=""
                                class="img-thumbnail img-responsive img-fluid" />
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Supplier">
                        <div class="supplier-img">
                            <img src="../assets/img/home-picture/Supplier.jpg" alt=""
                                class="img-thumbnail img-responsive img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Portfolio Section -->