<!-- ======= Contact Section ======= -->
<section id="career" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Career</h2>
            <p>Top Polymers is an equal opportunity employer. We provide our employees with best working environment,
                facilities &
                infrastructure.</p>
        </div>

        <!-- <div class="row contact-info">
            <div class="col-md-4">
                <div class="contact-email">
                    <h3>Current Openings</h3>
                    <p>Accounts</p>
                    <p>Marketing Executive</p>
                    <p>Business Development Manager</p>
                </div>
            </div>

        </div> -->

        <div class="form">
            <p>To apply to Top Polymers, info@toppolymersbd.com<!-- please fill in the details below:</p><br />-->
            <!-- <form action="../forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="number" class="form-control" name="Telephone" id="Telephone" data-rule="required"
                            placeholder="Telephone / Mobile" maxlength="30"
                            data-msg="Please enter a valid telephone number">
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                            data-rule="email" data-msg="Please enter a valid email">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <select class="form-control" name="name" data-msg="Please Select Post" data-rule="required">
                            <option value="">--Select Post--</option>
                            <option value="Marketing Executive">Marketing Executive</option>
                            <option value="Accounts">Accounts</option>
                            <option value="Finance & Banking">Finance & Banking</option>
                            <option value="Administration / HR">Administration / HR</option>
                        </select>
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control-file" placeholder="Resume" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required"
                        data-msg="Please write something for us" placeholder="Content"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form> -->
        </div>
    </div>
</section><!-- End Contact Section -->
