<!-- --Start Alumina Ball And Lining Section -- -->
<section id="AluminaBallAndLining" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Alumina Ball And Lining</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/alumina-ball-and-lining.jpg"
                            alt="Alumina Ball And Lining image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Alumina Ball And Lining</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Alumina Ball And Lining Section -->

<!-- --Start Alumina Oxide Section -- -->
<section id="AluminaOxide" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Alumina Oxide</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/alumina-oxide.jpg" alt="Alumina Oxide image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Alumina Oxide</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Alumina Oxide Section -->

<!-- --Start Ball Clay Section -- -->
<section id="BallClay" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Ball Clay</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/ball-clay-02.jpg" alt="Ball Clay image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Ball Clay</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Ball Clay Section -->

<!-- --Start Barium Oxide Section -- -->
<section id="BariumOxide" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Barium Oxide</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/barium-oxide.jpg" alt="Barium Oxide image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Barium Oxide</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Barium Oxide Section -->

<!-- --Start Ceramic Roll Section -- -->
<section id="CeramicRoll" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Ceramic Roll</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/ceramic-roll.jpg" alt="Ceramic Roll image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Ceramic Roll</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Ceramic Roll Section -->

<!-- --Start Dolomite Section -- -->
<section id="Dolomite" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Dolomite</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/dolomite.jpg" alt="Dolomite image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Dolomite</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Dolomite Section -->

<!-- --Start Kaolin Section -- -->
<section id="Kaolin" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Kaolin</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/kaolin.jpg" alt="Kaolin image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Kaolin</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Kaolin Section -->

<!-- --Start Litharge Yellow Lead Section -- -->
<section id="LithargeYellowLead" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Litharge Yellow Lead</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/litharge-yellow-lead.jpg"
                            alt="Litharge Yellow Lead image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Litharge Yellow Lead</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Litharge Yellow Lead Section -->

<!-- --Start Orange Lead Section -- -->
<section id="OrangeLead" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Orange Lead</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/orange-lead.jpg" alt="Orange Lead image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Orange Lead</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Orange Lead Section -->

<!-- --Start Potash Feldspar Section -- -->
<section id="PotashFeldspar" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Potash Feldspar</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/potash-feldspar.jpg" alt="Potash Feldspar image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Potash Feldspar</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Potash Feldspar Section -->

<!-- --Start Silica Powder Section -- -->
<section id="SilicaPowder" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Silica Powder</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/silica-powder.jpg" alt="Silica Powder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Silica Powder</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Silica Powder Section -->

<!-- --Start Sodium Feldspar Section -- -->
<section id="SodiumFeldspar" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Sodium Feldspar</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/sodium-feldspar.jpg" alt="Sodium Feldspar image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Sodium Feldspar</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Sodium Feldspar Section -->

<!-- --Start Talcum Section -- -->
<section id="Talcum" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Talcum</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/ceramic-raw-materials/talcum.jpg" alt="Talcum image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Talcum</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Talcum Section -->