<!-- ======= About Section ======= -->
<section id="CompanyProfile" class="about">
    <div class="container">

        <div class="row no-gutters">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
            </div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center">
                    <h3>Welcome to <span class="primary-color">TOP POLYMERS</span></h3>
                    <p>
                        Top Polymers is one of the leading indenting company in Bangladesh. It’s sister concern of <a
                            href="https://neyamat101.github.io/" target="_blank">Top Rank</a> was formed in the
                        year 1987. Since then, the company has been engaged in trading of Polymer, PVC Chemicals,
                        Ceramic Raw Materials, Glass
                        Raw Materials, Film, Oleo Chemicals, Pulp & Paper, Solvent, Synthetic Rubber, etc. The company
                        was established by two
                        individuals who are blessed with many years’ experience in the Trading and import/export arena.
                    </p>
                    <div class="row">
                        <div class="col-md-6 icon-box">
                            <i class="bx bx-receipt"></i>
                            <h4>Mission</h4>
                            <p>To develop and maintain long-term business relationship with our suppliers and buyers by
                                creating a win-win situation.</p>
                        </div>
                        <div class="col-md-6 icon-box">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Commitment</h4>
                            <p>Uncompromising integrity to supply quality materials and to strengthen supply chain.</p>
                        </div>
                        <div class="col-md-12 icon-box">
                            <i class="bx bx-images"></i>
                            <h4>Future Opportunities</h4>
                            <p>We are aggressively seeking to represent foreign (Non–Bangladeshi) Industries or
                                Suppliers for Bangladesh market for Polymer, PVC Chemicals, Ceramic Raw Materials, Glass
                                Raw Materials, Film, Oleo Chemicals, Pulp & Paper, Solvent, Synthetic Rubber, etc. With
                                our vast knowledge and contacts in the local and ASEAN market, we act like a good
                                strategic partner of our foreign suppliers.
                            </p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <!-- <i class="icofont-document-folder"></i> -->
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <span data-toggle="counter-up">250</span>
                    <p><strong>Trading Items</strong></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-live-support"></i>
                    <span data-toggle="counter-up">24</span>
                    <p><strong>Hours Customer Service</strong></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">500</span>
                    <p><strong>Happy Clients</strong></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <!-- <i class="icofont-users-alt-5"></i> -->
                    <i class="fas fa-address-card"></i>
                    <span data-toggle="counter-up">5</span>
                    <p><strong>Number of Offices</strong></p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="owl-carousel clients-carousel">
            <img class="img-size" src="../assets/img/clients/client-logo/indochlor.png" alt="">
            <img class="img-size" src="../assets/img/clients/client-logo/indian-oil.png" alt="">
            <img src="../assets/img/clients/client-logo/cgpc.png" alt="">
            <img class="img-size" src="../assets/img/clients/client-logo/opal.jpg" alt="">
            <img src="../assets/img/clients/client-logo/petronas.png" alt="">
            <img src="../assets/img/clients/client-logo/tasnee.png" alt="">
            <img src="../assets/img/clients/client-logo/vinmar.png" alt="">
            <img src="../assets/img/clients/client-logo/dow.png" alt="">
            <img src="../assets/img/clients/client-logo/formosa.png" alt="">
            <img src="../assets/img/clients/client-logo/lotto.png" alt="">
            <img src="../assets/img/clients/client-logo/hanwha.png" alt="">
            <img src="../assets/img/clients/client-logo/lg.png" alt="">
            <img src="../assets/img/clients/client-logo/lyondellbasell.png" alt="">
            <img class="img-size" src="../assets/img/clients/client-logo/oxea.png" alt="">
            <img src="../assets/img/clients/client-logo/petrocheme.png" alt="">
            <img src="../assets/img/clients/client-logo/petro-rabigh.png" alt="">
            <img src="../assets/img/clients/client-logo/sabic.png" alt="">
            <img src="../assets/img/clients/client-logo/sadara.png" alt="">
            <img class="img-size" src="../assets/img/clients/client-logo/sk.png" alt="">
        </div>

    </div>
</section><!-- End Clients Section -->
