<!-- --Start Alumina (Smelter Grade) Section -- -->
<section id="Alumina" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Alumina (Smelter Grade)</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/alumina.jpg" alt="Alumina image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Alumina (Smelter Grade)</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Alumina (Smelter Grade) Section -->

<!-- --Start Alumina Oxide Section -- -->
<section id="Alumina-Oxide" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Alumina Oxide</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/alumina-oxide.jpg" alt="Alumina Oxide image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Alumina Oxide</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Alumina Oxide Section -->

<!-- --Start Aluminium Hydroxide Section -- -->
<section id="Aluminium-Hydroxide" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Aluminium Hydroxide</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/aluminium-hydroxide.jpg"
                            alt="Aluminium Hydroxide image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Aluminium Hydroxide</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Talcum Section -->

<!-- --Start Barium Carbonate Section -- -->
<section id="Barium-Carbonate" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Barium Carbonate</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/barium-carbonate.jpg" alt="Barium Carbonate image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Barium Carbonate</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Barium Carbonate Section -->

<!-- --Start Borax Pentahydrate Section -- -->
<section id="Borax-Pentahydrate" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Borax Pentahydrate</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/borax-pentahydrate.jpg"
                            alt="Borax Pentahydrate image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Borax Pentahydrate</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Borax Pentahydrate Section -->

<!-- --Start Calcined Bauxite Section -- -->
<section id="Calcined-Bauxite" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Calcined Bauxite</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/calcined-bauxite.jpg" alt="Calcined Bauxite image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Calcined Bauxite</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Calcined Bauxite Section -->

<!-- --Start Copper Oxide Section -- -->
<section id="Copper-Oxide" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Copper Oxide</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/copper-oxide.jpg" alt="Copper Oxide image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Copper Oxide</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Copper Oxide Section -->

<!-- --Start Iron Oxide Section -- -->
<section id="Iron-Oxide" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Iron Oxide</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/iron-oxide.jpg" alt="Iron Oxide image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Iron Oxide</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Iron Oxide Section -->

<!-- --Start Lithium Carbonate Section -- -->
<section id="Lithium-Carbonate" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Lithium Carbonate</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/lithium-carbonate.jpg" alt="Lithium Carbonate image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Lithium Carbonate</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Lithium Carbonate Section -->

<!-- --Start Nickel Oxide Section -- -->
<section id="Nickel-Oxide" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Nickel Oxide</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/nickel-oxide.jpg" alt="Nickel Oxide image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Nickel Oxide</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Nickel Oxide Section -->

<!-- --Start Rare Earth Section -- -->
<section id="Rare-Earth" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Rare Earth</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/rare-earth.jpg" alt="Rare Earth image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Rare Earth</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Rare Earth Section -->

<!-- --Start Sodium Nitrate Section -- -->
<section id="Sodium-Nitrate" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Sodium Nitrate</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material//sodium-nitrate.jpg" alt="Sodium Nitrate image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Sodium Nitrate</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Sodium Nitrate Section -->

<!-- --Start Sodium Silico Fluoride Section -- -->
<section id="Sodium-Silico-Fluoride" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Sodium Silico Fluoride</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/sodium-silico-fluoride.jpg"
                            alt="Sodium Silico Fluoride image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Sodium Silico Fluoride</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Sodium Silico Fluoride Section -->

<!-- --Start Sodium Sulfate Section -- -->
<section id="Sodium-Sulfate" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Sodium Sulfate</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/sodium-sulfate.jpg" alt="Sodium Sulfate image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Sodium Sulfate</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Sodium Sulfate Section -->

<!-- --Start Spodument Section -- -->
<section id="Spodument" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Spodument</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/spodument.jpg" alt="Spodument image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Spodument</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Spodument Section -->

<!-- --Start Strontium Carbonate Section -- -->
<section id="Strontium-Carbonate" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Strontium Carbonate</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/strontium-carbonate.jpg"
                            alt="Strontium Carbonate image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Strontium Carbonate</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Strontium Carbonate Section -->

<!-- --Start Strontium Oxide Section -- -->
<section id="Strontium-Oxide" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Strontium Oxide</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/glass-raw-material/strontium-oxide.jpg" alt="Strontium Oxide image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Strontium Oxide</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Strontium Oxide Section -->