<!-- ======= Portfolio Section ======= -->
<section id="product" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Our Product</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/Polymer.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>POLYMERS</h4>
                        <p>01</p>
                        <div class="portfolio-links">
                            <a href="../assets/img/home-picture/Polymer.jpg" data-gall="productGallery" class="venobox"
                                title="POLYMERS"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/PvcChemicals.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PVC CHEMICALS</h4>
                        <p>02</p>
                        <div class="portfolio-links">
                            <a href="../assets/img/home-picture/PvcChemicals.jpg" data-gall="productGallery"
                                class="venobox" title="PVC CHEMICALS"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/CeramicRawMaterials.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>CERAMIC RAW MATERIALS</h4>
                        <p>03</p>
                        <div class="portfolio-links">
                            <a href="../assets/img/home-picture/CeramicRawMaterials.jpg" data-gall="productGallery"
                                class="venobox" title="CERAMIC RAW MATERIALS"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/GlassRawMaterial.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>GLASS RAW MATERIAL</h4>
                        <p>04</p>
                        <div class="portfolio-links">
                            <a href="../assets/img/home-picture/GlassRawMaterial.jpg" data-gall="productGallery"
                                class="venobox" title="GLASS RAW MATERIAL"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/Film.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>FILMS</h4>
                        <p>05</p>
                        <div class="portfolio-links">
                            <a href="../assets/img/home-picture/Film.jpg" data-gall="productGallery" class="venobox"
                                title="FILMS"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/OleoChemicals.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>OLEO CHEMICALS</h4>
                        <p>06</p>
                        <div class="portfolio-links">
                            <a href="../assets/img/home-picture/OleoChemicals.jpg" data-gall="productGallery"
                                class="venobox" title="OLEO CHEMICALS"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/Pulp-Paper.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PULP & PAPER</h4>
                        <p>07</p>
                        <div class="portfolio-links">
                            <a href="../assets/img/home-picture/Pulp-Paper.jpg" data-gall="productGallery"
                                class="venobox" title="PULP & PAPER"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/Solvent.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>SOLVENTS</h4>
                        <p>08</p>
                        <div class="portfolio-links">
                            <a href="../assets/img/home-picture/Solvent.jpg" data-gall="productGallery" class="venobox"
                                title="SOLVENTS"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/SyntheticRubber.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>SYNTHETIC RUBBER</h4>
                        <p>09</p>
                        <div class="portfolio-links">
                            <a href="../assets/img/home-picture/SyntheticRubber.jpg" data-gall="productGallery"
                                class="venobox" title="SYNTHETIC RUBBER"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->