<!-- --Start Polypropylene Section -- -->
<section id="Polypropylene" class="services product-section mt-4">
    <div class="container">

        <div class="section-title">
            <h2>Polypropylene (PP)</h2>
            <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
            <p>We can submit you sample if required.</p>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/copolymer/chair09-trans.png" alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">PP Impact Copolymer</h5>
                        <p>Injection Molding (High Impact Strength)</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>3-50</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>Household Products, furniture, Baby car parts, paint drum, storage boxes etc
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Taiwan, Saudi Arabia, Korea, Iran & UAE.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/random-copolymer/Random-copolymer.jpg" alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">PP Random Copolymer</h5>
                        <p>Injection Molding</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>12-35</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>Housewares, transparency Food containers, All kinds of thin containers.</td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Saudi Arabia, Korea, Iran & Taiwan</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/polymers/pp-film/PP.jpg"
                            alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">PP Homopolymer</h5>
                        <p>Film</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>10-12</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>General purpose films, garment bags, shopping bags, packaging bags, etc</td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Saudi Arabia, Korea, Iran, Thailand, UAE & Taiwan.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/pp-injection/PP-Injection-Grade-Virgin-PP-Polypropylene-Virgin-Polypropylene.jpg"
                            alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">PP Homopolymer</h5>
                        <p>Injection Molding</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>10-15</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>House wares, furniture, hangers, closures, food containers etc.</td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Saudi Arabia, Korea, Iran, Thailand, UAE & Taiwan.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/polymers/pp-yarn/01.jpg"
                            alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">PP Homopolymer</h5>
                        <p>Flat Yarn/Raffia</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>3-4.5</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>Woven bags for cement industry and for various packing. </td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Saudi Arabia, Korea, Iran, Thailand, UAE & Taiwan.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Polypropylene Section -->

<!-- --Start LDPE Section -- -->
<section id="LDPE" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Low Density Polyethylene (LDPE)</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/ldpe-film/01.jpg" alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Low Density Polyethylene (LDPE)</h5>
                        <p>LDPE Film Grade</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>1.9-5</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>General purpose bags, garment bags, shrink films etc</td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Saudi Arabia, Korea, Iran, UAE & Malaysia.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End LDPE Section -->

<!-- --Start LLDPE Section -- -->
<section id="LLDPE" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Linear Low Density Polyethylene (LLDPE)</h2>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/lldpe-film/01.jpg" alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Linear Low Density Polyethylene (LLDPE)</h5>
                        <p>LLDPE Film Grade</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>1-2</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>General purpose films, liner film, food packaging, garment bags, etc</td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Saudi Arabia, Korea, Iran, UAE, Philippines & Malaysia.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/lldpe-roto/01.jpg" alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Linear Low Density Polyethylene (LLDPE)</h5>
                        <p>LLDPE Roto Molding Grade</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>3-7</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>Water tanks, storage tanks, containers, general purpose molding, etc</td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Malaysia, Iran & Taiwan.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/lldpe-inj/01.jpg" alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Linear Low Density Polyethylene (LLDPE)</h5>
                        <p>LLDPE Injection</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>3-7</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>Water tanks, storage tanks, containers, general purpose molding, etc</td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Malaysia, Iran & Taiwan.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End LLDPE Section -->

<!-- End HDPE Section -->
<section id="HDPE" class="services product-card">
    <div class="container">

        <div class="section-title">
            <h2>High Density Polyethylene (HDPE)</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="card p-2 mb-2">
                    <div class="icon"><img src="../assets/img/polymers/hdpe/HDPE-FILM/01.jpg"
                            class="img-thumbnail rounded" alt=""></div>
                    <h4 class="title"><a href="">HDPE Film Grade</a></h4>
                    <p class="description">MFI: 8-10<br>Applications: Blown films, such as general purpose bags, liner
                        films, bags on
                        rolls, garbage bags, industrial films, etc<br>Country of Origin: Malaysia, Saudi Arabia, Iran,
                        UAE,
                        Tiawan.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="card p-2 mb-2">
                    <div class="icon"><img src="../assets/img/polymers/hdpe/HDPE-INJ/01.jpg"
                            class="img-thumbnail rounded" alt=""></div>
                    <h4 class="title"><a href="">HDPE Injection Grade</a></h4>
                    <p class="description">MFI: 6-20<br>Applications: Toys, auto parts, garbage bin, industrial
                        products,
                        cap & closures,
                        etc<br>Country of Origin: Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="card p-2 mb-2">
                    <div class="icon"><img src="../assets/img/polymers/hdpe/HDPE-YARN/01.jpg"
                            class="img-thumbnail rounded" alt=""></div>
                    <h4 class="title"><a href="">HDPE Yarn Grade</a></h4>
                    <p class="description">MFI: 0.8<br>Applications: Woven sack, fishing net, rope, etc<br>Country of
                        Origin: Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="card p-2 mb-2">
                    <div class="icon"><img src="../assets/img/polymers/hdpe/HDPE-PIPE/plastic-01.jpg"
                            class="img-thumbnail rounded" alt=""></div>
                    <h4 class="title"><a href="">HDPE Cap Grade</a></h4>
                    <p class="description">MFI: 3.7 - 12<br>Applications: Caps and closures of minerals/stilled,
                        sparkling,
                        and carbonated
                        water, etc<br>Country of Origin: Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="card p-2 mb-2">
                    <div class="icon"><img src="../assets/img/polymers/hdpe/HDPE-PIPE/01.jpg"
                            class="img-thumbnail rounded" alt=""></div>
                    <h4 class="title"><a href="">HDPE Pipe Grade</a></h4>
                    <p class="description">MFI: 3.7 - 12<br>Applications: For making HDPE Pipe<br>Country of Origin:
                        Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="card p-2 mb-2">
                    <div class="icon"><img src="../assets/img/polymers/hdpe/HDPE-BLOW/01.jpg"
                            class="img-thumbnail rounded" alt=""></div>
                    <h4 class="title"><a href="">HDPE Blow Molding</a></h4>
                    <p class="description">MFI: 0.25-0.6<br>Applications: Milk bottles, food packaging, drinking water
                        bottles, household
                        products, or personal
                        care/detergent/chemical/lubricant oil containers, etc<br>Country of Origin: Malaysia, Saudi
                        Arabia,
                        Iran, UAE, Tiawan.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End HDPE Section -->
<!-- --Start Polystyrene Section -- -->
<section id="Polystyrene" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Polystyrene (PS – GPPS & HIPS)</h2>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/polymers/gpps/01.jpg"
                            alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Polystyrene (PS – GPPS & HIPS)</h5>
                        <p>General Purpose Polystyrene (GPPS)</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>2-8</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>Garments Hanger, Electrical Appliances, household product, toys, sanitary
                                            ware, etc</td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Iran, Thailand and Taiwan.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/polymers/hips/01.jpg"
                            alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Polystyrene (PS – GPPS & HIPS)</h5>
                        <p>High Impact Polystyrene (HIPS)</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>2-8</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>Garments Hanger, Electrical Appliances, household product, toys, sanitary
                                            ware, etc</td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Iran, Malaysia, Thailand and Taiwan.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Polystyrene Section -->

<!-- --Start PVC Section -- -->
<section id="PVC" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Poly Vinyl Chloride (PVC)</h2>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/pvc-resin/01.jpeg" alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Poly Vinyl Chloride (PVC)</h5>
                        <p>K -Value 58~62</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>Pipe fitting, hollow-vacuum forming, rigid film, shrinkable film, etc</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/pvc-resin/02.jpg" alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Poly Vinyl Chloride (PVC)</h5>
                        <p>K -Value 65~67</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>PVC Films/sheet, beach chair, rigid pipe, hose, low temperature wire and
                                            cable insulation, etc</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/pvc-resin/03.jpg" alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Poly Vinyl Chloride (PVC)</h5>
                        <p>High Impact flexible product</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>PVC Leather, film, furniture, shoes, etc</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/pvc-resin/04.jpg" alt="">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Poly Vinyl Chloride (PVC)</h5>
                        <p>High Impact Sheet</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>High voltage wire and cable insulation, etc</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End PVC Section -->

<!-- --Start EVA Section -- -->
<section id="EVA" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Ethylene Vinyl Acetate (EVA)</h2>
            <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
            <p>We can submit you sample if required.</p>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/polymers/eva/Eva.jpg"
                            alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Ethylene Vinyl Acetate (EVA)</h5>
                        <p>Vinyl Acetate Content</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>MFI:</th>
                                        <td>9-18%</td>
                                    </tr>
                                    <tr>
                                        <th>Applications:</th>
                                        <td>Shoe sole, Film, coating, etc </td>
                                    </tr>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Korea & Taiwan. </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End EVA Section -->

<!-- --Start ABS Section -- -->
<section id="ABS" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Acrylonitrile Butadiene Styrene (ABS)</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/acrylonitrile-butadiene-styrene(ABS)/ABS.jpg"
                            alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Acrylonitrile Butadiene Styrene (ABS)</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End ABS Section -->

<!-- --Start Styrene Acrylonitrile Section -- -->
<section id="StyreneAcrylonitrile" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Styrene Acrylonitrile (SAN)</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/styrene-acrylonitrile(SAN)/SAN.jpg"
                            alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Styrene Acrylonitrile (SAN)</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Styrene Acrylonitrile Section -->

<!-- --Start Engineering Plastics Section -- -->
<section id="EngineeringPlastics" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Engineering Plastics</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/engineering-plastics/Engineering-Plastics.jpg"
                            alt="Engineering-Plastics image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Engineering Plastics</h5>
                        <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Engineering Plastics Section -->

<!-- --Start PET Resin Section -- -->
<section id="PETResin" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>PET Resin</h2>
            <p>We have strong sourcing from top petrochemical manufacturers worldwide.</p>
            <p>We can submit you sample if required.</p>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/pet-resin/80/01.png" alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">PET Resin</h5>
                        <p>I.V. Value: 0.80</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Thailand, Malaysia, Taiwan & Iran</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/pet-resin/84/01.jpg" alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">PET Resin</h5>
                        <p>I.V. Value: 0.84</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Thailand, Malaysia, Taiwan & Iran</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/polymers/pet-resin/88/01.jpg" alt="Generic placeholder image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">PET Resin</h5>
                        <p>I.V. Value: 0.88</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Country of Origin:</th>
                                        <td>Thailand, Malaysia, Taiwan & Iran</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End PET Resin Section -->