<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <!-- <h1 class="logo mr-auto"><a href="/">Groovin</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo mr-auto"><img src="../assets/img/logo.gif" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">Company Profile</a></li>
                <li><a href="#services">Services</a></li>
                <li class="drop-down"><a href="#client">Product</a>
                    <ul>
                        <li><a href="">Drop Down 1</a></li>
                        <li class="drop-down"><a href="/product/">Polymers</a>
                            <ul>
                                <li><a href="/product/">Polypropylene (PP)</a></li>
                                <li><a href="/product/">Low Density Polyethylene (LDPE)</a></li>
                                <li><a href="/product/">Linear Low Density Polyethylene (LLDPE)</a></li>
                                <li><a href="/product/">High Density Polyethylene (HDPE)</a></li>
                                <li><a href="/product/">Polystyrene (PS – GPPS & HIPS)</a></li>
                                <li><a href="/product/">Poly Vinyl Chloride (PVC)</a></li>
                                <li><a href="/product/">Ethylene Vinyl Acetate (EVA)</a></li>
                                <li><a href="/product/">Acrylonitrile Butadiene Styrene (ABS)</a></li>
                                <li><a href="/product/">Styrene Acrylonitrile (SAN)</a></li>
                                <li><a href="/product/">Engineering Plastics</a></li>
                                <li><a href="/product/">PET Resin</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/">Pvc Chemicals</a>
                            <ul>
                                <li><a href="/product/">Calcium Carbonate – (Coated & Un-Coated)</a></li>
                                <li><a href="/product/">DBLS</a></li>
                                <li><a href="/product/">paraffin wax</a></li>
                                <li><a href="/product/">Polyethlene Wax</a></li>
                                <li><a href="/product/">Pvc Stabilizer</a></li>
                                <li><a href="/product/">TBLS</a></li>
                                <li><a href="/product/">TI02 (titanium dioxide)</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/">Ceramic Raw Materials</a>
                            <ul>
                                <li><a href="/product/">Alumina Ball And Lining</a></li>
                                <li><a href="/product/">Alumina Oxide</a></li>
                                <li><a href="/product/">Ball Clay</a></li>
                                <li><a href="/product/">Barium Oxide</a></li>
                                <li><a href="/product/">Ceramic Roll</a></li>
                                <li><a href="/product/">Dolomite</a></li>
                                <li><a href="/product/">Kaolin</a></li>
                                <li><a href="/product/">Litharge Yellow Lead</a></li>
                                <li><a href="/product/">Orange Lead</a></li>
                                <li><a href="/product/">Potash Feldspar</a></li>
                                <li><a href="/product/">Silica Powder</a></li>
                                <li><a href="/product/">Sodium Feldspar</a></li>
                                <li><a href="/product/">Talcum</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/">Glass Raw Material</a>
                            <ul>
                                <li><a href="/Alumina">Alumina (Smelter Grade)</a></li>
                                <li><a href="/Alumina-Oxide-Glass">Alumina Oxide</a></li>
                                <li><a href="/Aluminium-Hydroxide">Aluminium Hydroxide</a></li>
                                <li><a href="/Barium-Carbonate">Barium Carbonate</a></li>
                                <li><a href="/Borax-Pentahydrate">Borax Pentahydrate</a></li>
                                <li><a href="/Calcined-Bauxite">Calcined Bauxite</a></li>
                                <li><a href="/Copper-Oxide">Copper Oxide</a></li>
                                <li><a href="/Iron-Oxide">Iron Oxide</a></li>
                                <li><a href="/Lithium-Carbonate">Lithium Carbonate</a></li>
                                <li><a href="/Nickel-Oxide">Nickel Oxide</a></li>
                                <li><a href="/Rare-Earth">Rare Earth</a></li>
                                <li><a href="/Sodium-Nitrate">Sodium Nitrate</a></li>
                                <li><a href="/Sodium-Silico-Fluoride">Sodium Silico Fluoride</a></li>
                                <li><a href="/Sodium-Sulfate">Sodium Sulfate</a></li>
                                <li><a href="/Spodument">Spodument</a></li>
                                <li><a href="/Strontium-Carbonate">Strontium Carbonate</a></li>
                                <li><a href="/Strontium-Oxide">Strontium Oxide</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/">Films</a>
                            <ul>
                                <li><a href="/BOPP-Film">BOPP Film</a></li>
                                <li><a href="/PET-Film">PET Film</a></li>
                                <li><a href="/Metalized-Film">Metalized Film</a></li>
                                <li><a href="/PVC-Sheet">PVC Sheet</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/">Oleo Chemicals</a>
                            <ul>
                                <li><a href="/Stearic-Acid">Stearic Acid</a></li>
                                <li><a href="/Glycerine">Glycerine</a></li>
                                <li><a href="/Cetyl-Alcohol">Cetyl Alcohol</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/">Pulp & Papers</a>
                            <ul>
                                <li><a href="/Pulp">Pulp</a></li>
                                <li><a href="/Papers">Paper</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/">Solvents</a>
                            <ul>
                                <li><a href="/Xylene">Xylene</a></li>
                                <li><a href="/Toluene">Toluene</a></li>
                                <li><a href="/Aceton">Aceton</a></li>
                                <li><a href="/Methanol">Methanol</a></li>
                                <li><a href="/Ethyl-Acetate">Ethyl Acetate</a></li>
                                <li><a href="/IPA">IPA</a></li>
                                <li><a href="/MEK">MEK</a></li>
                                <li><a href="/Octanol">Octanol (2-EH)</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/">Synthetic Rubber</a>
                            <ul>
                                <li><a href="/Butadiene-Rubber">Butadiene Rubber (BR)</a></li>
                                <li><a href="/Styrene-Butadiene-Rubber">Styrene Butadiene Rubber (SBR)</a></li>
                                <li><a href="/Chloroprene-Rubber">Chloroprene Rubber.Input content…</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/#buyer-supplier">Buyer/Supplier Base</a></li>
                <li><a href="/#contact">Contact</a></li>
                <li><a href="/#career">Career</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </nav><!-- .nav-menu -->

        <a href="/" class="get-started-btn scrollto">Get Started</a>

    </div>
</header><!-- End Header -->