<!-- --Start Pulp Section -- -->
<section id="Pulp" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Pulp</h2>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/paper/softwood-pulp.jpg"
                            alt="Softwood Pulp image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Softwood Pulp</h5>
                        <p>We have strong sourcing from top integrated Pulp manufacturers in</p>
                        <p>N. AMERICA, S. AMERICA, EUROPE, ASIA / AFRICA, and from AUSTRALIA.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/paper/hardwood-pulp.jpg"
                            alt="Hardwood Pulp image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Hardwood Pulp</h5>
                        <p>We have strong sourcing from top integrated Pulp manufacturers in</p>
                        <p>N. AMERICA, S. AMERICA, EUROPE, ASIA / AFRICA, and from AUSTRALIA.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Pulp Section -->

<!-- --Start Paper Section -- -->
<section id="Papers" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Paper</h2>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/paper/news-print.jpeg"
                            alt="News Print image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">News Print</h5>
                        <p>We have strong sourcing from top integrated Pulp manufacturers in</p>
                        <p>N. AMERICA, S. AMERICA, EUROPE, ASIA / AFRICA, and from AUSTRALIA.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/paper/art-card.jpg"
                            alt="Art Card image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Art Card</h5>
                        <p>We have strong sourcing from top integrated Pulp manufacturers in</p>
                        <p>N. AMERICA, S. AMERICA, EUROPE, ASIA / AFRICA, and from AUSTRALIA.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/paper/art-paper.jpg"
                            alt="Art Paper image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Art Paper</h5>
                        <p>We have strong sourcing from top integrated Pulp manufacturers in</p>
                        <p>N. AMERICA, S. AMERICA, EUROPE, ASIA / AFRICA, and from AUSTRALIA.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/paper/duplex-board.jpg"
                            alt="Duplex Board image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Duplex Board</h5>
                        <p>We have strong sourcing from top integrated Pulp manufacturers in</p>
                        <p>N. AMERICA, S. AMERICA, EUROPE, ASIA / AFRICA, and from AUSTRALIA.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/paper/craft-paper.jpg"
                            alt="Craft Paper image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Craft Paper</h5>
                        <p>We have strong sourcing from top integrated Pulp manufacturers in</p>
                        <p>N. AMERICA, S. AMERICA, EUROPE, ASIA / AFRICA, and from AUSTRALIA.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/paper/swedish-board.jpg"
                            alt="Swedish Board image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Swedish Board</h5>
                        <p>We have strong sourcing from top integrated Pulp manufacturers in</p>
                        <p>N. AMERICA, S. AMERICA, EUROPE, ASIA / AFRICA, and from AUSTRALIA.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/paper/chipboard.jpg"
                            alt="Chipboard image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Chipboard</h5>
                        <p>We have strong sourcing from top integrated Pulp manufacturers in</p>
                        <p>N. AMERICA, S. AMERICA, EUROPE, ASIA / AFRICA, and from AUSTRALIA.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Paper Section -->