<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 icon-box">
                <!-- <div class="icon"><i class="icofont-computer"></i></div> -->
                <div class="icon"><i class="icofont-earth"></i></div>
                <h4 class="title"><a href="">Clearing & Forwarding Agent</a></h4>
                <p class="description">Our C & F company name is ‘Top Trade’. We take care of your goods. We are well
                    experienced in Customs, Port and
                    transport activities.</p>
            </div>
            <div class="col-lg-6 col-md-6 icon-box">
                <div class="icon"><i class="icofont-handshake-deal"></i></div>
                <h4 class="title"><a href="">Consultancy</a></h4>
                <p class="description">We serve for Bond License, Import, Export and industrial activities.</p>
            </div>
            <div class="col-lg-6 col-md-6 icon-box">
                <!-- <div class="icon"><i class="icofont-earth"></i></div> -->
                <div class="icon"><i class="icofont-indent"></i></div>
                <h4 class="title"><a href="">Indenting</a></h4>
                <p class="description">We are never far from you. We sell Polymer, PVC Chemicals, Ceramic Raw Materials,
                    Glass Raw Materials, Film, Oleo
                    Chemicals, Pulp & Paper, Solvent, Synthetic Rubber etc.</p>
            </div>
            <div class="col-lg-6 col-md-6 icon-box">
                <!-- <div class="icon"><i class="icofont-image"></i></div> -->
                <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                <h4 class="title"><a href="">Trading</a></h4>
                <p class="description">We buy and sell in the domestic market.</p>
            </div>
            <!-- <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="icofont-settings"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum deleniti atque</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="icofont-tasks-alt"></i></div>
                <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                    soluta nobis est eligendi</p>
            </div> -->
        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2>Why Choose Us</h2>
            <p>At Top Polymers we understand that trying to find the right products for your business at the right price
                can be
                confusing and with so many indentors / traders around, why choose us? Here are some good reasons:</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box">
                    <span>01</span>
                    <h4>Service Commitment</h4>
                    <p>At Top Polymers we are committed to providing all customers with a first class service. You won’t
                        be put through to a
                        call centre and you’ll speak to our highly trained staff who will understand your business and
                        your requirements. At Top
                        Polymers we care about our customers, we’re efficient, helpful and friendly and when you speak
                        to us, you’ll really
                        notice the difference.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>02</span>
                    <h4>Value</h4>
                    <p>Top Polymers always offers top quality products for a wide range of business as well as for small
                        customers. Top
                        Polymers can save your money too by giving competitive price! Check us out and ask us for a
                        quote – you’ll be surprised
                        how much we can save you by giving competitive price.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>03</span>
                    <h4>Our Experience</h4>
                    <p>Our mother company ‘Top Rank’ established in 1987. We have long experience in handling/selling
                        products of our overseas
                        principals in Bangladesh as a reputed agent. We are well known in indenting sector of Bangladesh
                        Market since last 29
                        years.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="box">
                    <span>04</span>
                    <h4>Nice ‘N’ Easy</h4>
                    <p>Our required clauses in the L/C are acceptable to all. We don’t ask any complicated clause in the
                        L/C. So customers can
                        easily open LC which saves time, money and finally they get the materials on time.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="box">
                    <span>05</span>
                    <h4>Claims Service</h4>
                    <p>At Top Polymers we understand that no two claims are the same and our specialist expertise means
                        you can be sure our
                        team will understand your problem. We’re here to help you and smooth your claim through to a
                        speedy conclusion. We act
                        on behalf of all our customers and work with suppliers to ensure claim is handled promptly.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="box">
                    <span>06</span>
                    <h4>Testimonials</h4>
                    <p>Top Polymers, the majority of our customers are recommended to us and our excellent service and
                        competitive prices keeps
                        them coming back!</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->