<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 icon-box">
                <div class="icon"><i class="icofont-ship-alt"></i></div>
                <h4 class="title"><a href="">Clearing & Forwarding Agent</a></h4>
                <p class="description">Our C & F company name is ‘Top Trade’. We take care of your goods. We are well
                    experienced in Customs, Port and
                    transport activities.</p>
            </div>
            <div class="col-lg-6 col-md-6 icon-box">
                <div class="icon"><i class="icofont-user-suited"></i></div>
                <!-- <div class="icon"><i class="icofont-handshake-deal"></i></div> -->
                <h4 class="title"><a href="">Consultancy</a></h4>
                <p class="description">We serve for Bond License, Import, Export and industrial activities.</p>
            </div>
            <div class="col-lg-6 col-md-6 icon-box">
                <div class="icon"><i class="far fa-handshake"></i></div>
                <h4 class="title"><a href="">Indenting</a></h4>
                <p class="description">We sell Polymer, PVC Chemicals, Ceramic Raw Materials, Glass Raw Materials, Film,
                    Oleo Chemicals, Pulp & Paper, Solvent,
                    Synthetic Rubber etc.</p>
            </div>
            <div class="col-lg-6 col-md-6 icon-box">
                <!-- <div class="icon"><i class="icofont-chart-bar-graph"></i></div> -->
                <div class="icon"><i class="icofont-earth"></i></div>
                <h4 class="title"><a href="">Trading</a></h4>
                <p class="description">We buy and sell globally.</p>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2>Why Choose Us</h2>
            <p>To find the right products at the right price can be confusing.<br>Why you should choose us?</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box">
                    <h4>Service Commitment</h4>
                    <p>We are committed of providing first class service to our customers. We can understand your
                        requirements easily. We care
                        our customers, we’re efficient, helpful and friendly.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <h4>Value</h4>
                    <p>Every customer is valuable to us. We offer wide range of quality products at competitive price.
                        Check us out.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <h4>Our Experience</h4>
                    <p>Our mother company ‘Top Rank’ established in 1987. We have long experience in handling/selling
                        products of our overseas
                        principals in Bangladesh as a reputed agent. We are well known in indenting sector of Bangladesh
                        Market since last <h3 id="yrPassed"></h3> years.</p>
                        <script>
                            var yrStart = 1987;
                            var yrEnd = Date().split(" ")[3];
                            console.log(yrEnd - yrStart);
                            document.getElementById("yrPassed").innerHTML = yrEnd - yrStart;
                        </script>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="box">
                    <h4>Nice ‘N’ Easy</h4>
                    <p>We try to make things easy. Our required clauses in the L/Cs are acceptable to all. We don’t ask
                        any complicated clause
                        in the L/C. So customers can easily open LC which saves time, money and finally they get the
                        materials on time.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="box">
                    <h4>Claims Service</h4>
                    <p>We’re here to resolve your claims/asking (if any) through a speedy conclusion. We liaison with
                        supplier & customer to
                        ensure that claim is handled properly.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="box">
                    <h4>Testimonials</h4>
                    <p>We got majority of our customers through recommendation. Our excellent service and competitive
                        prices keeps them coming
                        back to us again!</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->