<!-- --Start Xylene Section -- -->
<section id="Xylene" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Xylene</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/solvents/xylene.png"
                            alt="Xylene image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Xylene</h5>
                        <p>We have strong sourcing from top manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Xylene Section -->
<!-- --Start Toluene Section -- -->
<section id="Toluene" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Toluene</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/solvents/toluene.jpg"
                            alt="Toluene image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Toluene</h5>
                        <p>We have strong sourcing from top manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Toluene Section -->
<!-- --Start Aceton Section -- -->
<section id="Aceton" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Aceton</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/solvents/aceton.jpg"
                            alt="Aceton image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Aceton</h5>
                        <p>We have strong sourcing from top manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Aceton Section -->
<!-- --Start Methanol Section -- -->
<section id="Methanol" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Methanol</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/solvents/methanol.jpg"
                            alt="Methanol image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Methanol</h5>
                        <p>We have strong sourcing from top manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Methanol Section -->

<!-- --Start Ethyl Acetate Section -- -->
<section id="Ethyl-Acetate" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Ethyl Acetate</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded"
                            src="../assets/img/solvents/ethyl-acetate.jpg" alt="Ethyl Acetate image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Ethyl Acetate</h5>
                        <p>We have strong sourcing from top manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Ethyl Acetate Section -->
<!-- --Start IPA Section -- -->
<section id="IPA" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>IPA</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/solvents/ipa.jpg"
                            alt="Engineering-Plastics image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">IPA</h5>
                        <p>We have strong sourcing from top manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End IPA Section -->
<!-- --Start MEK Section -- -->
<section id="MEK" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>MEK</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/solvents/mek.jpg"
                            alt="MEK image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">MEK</h5>
                        <p>We have strong sourcing from top manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End MEK Section -->
<!-- --Start Octanol (2-EH) Section -- -->
<section id="Octanol" class="services product-section">
    <div class="container">

        <div class="section-title">
            <h2>Octanol (2-EH)</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="media small-media">
                    <div class="media-left mr-3 mb-1">
                        <img class="align-self-start img-thumbnail rounded" src="../assets/img/solvents/octanol.jpg"
                            alt="Octanol (2-EH) image">
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Octanol (2-EH)</h5>
                        <p>We have strong sourcing from top manufacturers worldwide.</p>
                        <p>We can submit you sample if required.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Octanol (2-EH) Section -->